.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 3px solid #9A69A3 !important;
  background: #2B2B2B;
  line-height: 20px;
}

.ant-layout-header {
 background: #2B2B2B !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) {
  background: #2B2B2B;
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #9A69A3 !important;
  margin-bottom: 5px;
  background: #2B2B2B;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
}

.ant-layout {
  background-color: rgb(154,105,164);
  background: linear-gradient(0deg, rgba(154,105,164,1) 0%, rgba(239,151,144,1) 100%);
  margin-bottom: 5px;
}

.ant-menu-overflow-item {
  margin-bottom: 5px;
  background: #2B2B2B;
  color: #fff !important;
}

.ant-menu-item {
  margin-bottom: 5px;
  background: #2B2B2B;
  color: #fff !important;
}

.ant-menu-item-only-child {
  background: #2B2B2B;
  margin-bottom: 5px;
  color: #fff !important;
}

.logo {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.task-item {
  background-color: #EFF2F5;
  padding: 20px;
  padding-top: 10px;
  border-radius: 15px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, #9A69A3, #EF9790);
}

.task-completed {
  opacity: 60%;
}

.task-headline {
  font-weight: bold;
}

.task-detail-line {
  font-weight: medium;
}

.task-card {
  width: 100%;
}

.create-task-card {
  width: 100%;
}

.task-create-btn {
  float: right;
  color: #fff !important;
}

.ant-btn {
  font-weight: bold;
  background-color: #9567A7;
  color: #fff !important;
  border-style: solid;
  border-radius: 5px;
  border-color: #9567A7;
  text-align: center;
  box-sizing: content-box;
  margin-bottom: 10px;
}

.ant-btn:hover, .ant-btn:focus {
  color: #9567a7 !important;
  border-color: #9567a7;
  background: #fff;
}

Card.title {
  font-size: 30px;
}

.form-card {
  background-color: #2B2B2B;
  border-color: #2B2B2B;
  color: #fff !important;

  border-width: 5px;
  margin: 20px;
  width: 1000px;
}

.task-title {
  width: 500px;

}

.ant-form-large .ant-form-item-label > label {
    height: 40px;
}

.ant-form-item-label > label {
  font-weight: bold;
  font-size: large;
  background-color: #9A69A3;
  background-image: linear-gradient(to right, #9A69A3, #EF9790);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.ant-card {
  background-color: #2B2B2B;
  border-color: #2B2B2B;
  color: #fff !important;
}

.card-title {
  font-weight: bold;
  font-size: larger;
  background-color: #9A69A3;
  background-image: linear-gradient(to right, #9A69A3, #EF9790);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

::selection {
  color: #fff;
  background: #9567a7;
}

.ant-input {
  color: #9567a7;
  border-color: #9567a7;
}

.ant-input:hover {
  color: #9567a7;
  border-color: #9567a7;
}

.create-task-text {
  color: #fff !important;
}

.ant-timeline-left {
  color: #2B2B2B;
  background: #2B2B2B;
}

.ant-timeline-item-head, .ant-timeline-item-head-custom, .ant-timeline-item-head-blue, .ant-timeline-item-tail {
  color: #2B2B2B !important;
  background: #2B2B2B !important;
}

.ant-layout-header {
  background: #2B2B2B;
  border-color: #2B2B2B;
  color: #fff;
}

.nav-bar {
  background: #2B2B2B;
  border-color: #2B2B2B;
  color: #fff;
}

.nav-link {
  color: #fff !important;
}