.inputContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  border-radius: 8px;
  height: 45px;
  padding: 0 10px;
}

.validated {
  color: rgb(23, 128, 255);
  border: 1px solid rgb(23, 128, 255);
}
.addressinput {
  outline: none;
  font-weight: 700;
  border: none;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 5px;
  appearance: textfield;
  width: 100%;
  color: #041836;
}
.inputvalidated {
  color: rgb(23, 128, 255);
}
